/*Font Stuff*/
Body {
    background-color: rgb(0,0,0);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
}

.header {
background: rgb(75,75,75);
border-radius: 25px;
border: 2px solid rgb(150,150,150);
}

.title{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 50%;
}

/* ########################################## Navbar ################################################## */
nav {
    background-color: rgb(75,75,75);
    border-radius: 15px;
    border: 2px solid rgb(150,150,150);
    margin: 5px 0px 5px 0px;
}
.navbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px 10px 5px 5px;
    padding: 5px;
}
.item{
    color: rgb(255,255,255);
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 15px;
    transition: 0.2s;
}
.item:hover{
    background: linear-gradient(90deg, rgba(226,234,252,1) 0%, rgba(171,196,255,1) 100%);
    border: 2px solid black;
    color: rgb(0,0,0);
    border-radius: 10px;
    transition: 0.5s;
} 
.item-here {
    color: black;
    text-decoration: none;
    background-color: rgb(193,211,254);
    padding: 5px 20px;
    border-radius: 15px;
    border: 2px solid black;
}
.item-here:hover {
    background-color: rgb(171,196,255);
    transition: 0.5s;
}

/* ########################################## Dropdown Button ################################################## */
.mapdown {
  position: relative;
  display: inline-block;
}

.mapdown-content {
  display: none;
  position: absolute;
  border-radius: 15px;
  border: 2px solid black;
  margin: 5px 0px 0px 0px;
}

.mapdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.4s;
  color: rgb(0,0,0);
}

.mapdown-content a:hover {
  background-color: rgb(171,196,255);
  border-radius: 15px;
  margin: -1%;
  border: 1px solid black;
  transition: 0.4s;
}

.mapdown:hover .mapdown-content {
    display: block;
    background-color: rgb(193,211,254);
}

/* ########################################## Main ################################################## */
/* Main */
.main-content {
    display: inline-grid;
    grid-template-columns: [first] 25% [centre] 50% [last] 25%;
    text-align: center;
}
/*sidebars*/
.left-bar,.right-bar,.center {
}
/*left-bar*/
.left-bar{
    grid-column-start: first;
    background-color: rgb(75,75,75);
    border: 2px solid rgb(150,150,150);
    border-radius: 15px 0px 0px 5px;
}
.management{
    margin: -1px;
    border-radius: 15px 0px 15px 0px;
    border: 2px solid rgb(150,150,150);
    background-color: rgb(25,25,25);
    color: rgb(255,255,255);
}
.topstaff{
    list-style-type: none;
    padding: 0;
}
.managementli{
    text-decoration: none;
    color: black;
}
.man1,.man2{
    background-color: rgb(193,211,254);
    border-bottom: 2px solid rgb(75,75,75);
}
.man1{
}
.man2{
    background-color: rgb(171,196,255);
    border-radius: 15px 15px 0px 0px;
    color: rgb(20,20,20);
}
.left-text{
    margin: 0%;
    padding: 2%;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(215,227,252);
    color: rgb(20,20,20);
}
.p1{
    padding: 2%;
}
.p1copyr{
    text-align: justify;
    padding: 3%;
    border: 1px solid black;
    margin: 3%;
}
/*center*/
.center {
    border: 2px solid rgb(150,150,150);
    grid-column-start: centre;
    background: rgb(75,75,75);
    color: rgb(255,255,255);
}
.p1index{
    padding: 2%;
}
.blueprintpic{
    width: 100%;
    height: auto;
}

/*right-bar*/
.right-bar{
    grid-column-start: last;
    background-color: rgb(75,75,75);
    border: 2px solid rgb(150,150,150);
    border-radius: 0px 15px 5px 0px;
}
.righttitle{
    margin: -1px;
    border-radius: 0px 15px 0px 15px;
    border: 2px solid rgb(150,150,150);
    background-color: rgb(25,25,25);
    color: rgb(255,255,255);
}
.news{
  list-style-type: none;
  padding: 0;
}
.Update{
    background-color: rgb(171,196,255);
    border-radius: 15px 15px 0px 0px;
    border-bottom: 2px solid rgb(75,75,75);
    color: rgb(20,20,20);
}
.date{
    background-color: rgb(193,211,254);
    border-bottom: 2px solid rgb(75,75,75);
}
.context{
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(215,227,252);
}

/* ########################################## Map links ################################################## */

.maplist{
    background-color: rgb(204,219,253);
    border-radius: 10px;
    border: 2px solid rgb(150,150,150);
    color: black;
    margin: 0% 1% 1% 1%;
}

.maplist2{
    color: black;
    text-decoration: underline
}

.maplink{
    text-decoration: underline;
    color: rgb(255,255,255);
}

/* ########################################## Forums ################################################## */

.forum_list{
    background-color: rgb(215,227,252);
    border: 1px solid black;
    color: black;
}
.rules{
    background-color: rgb(171,196,255);
    border: 1px solid black;
    border-radius: 10px;
    padding: 0% 4% 0% 4%;
    color: black;
}

/* ########################################## about us ################################################## */

.logo{
    width: 100px;
}

/* ########################################## Footer ################################################## */

.itemf{
    color: rgb(20,20,20);
    text-decoration: none;
    background-color: rgb(204,219,253);
    padding: 5px 20px;
    border-radius: 15px;
    transition: 0.2s;
    border: 2px solid black;
}
.itemf:hover{
    background-color: rgb(171,196,255);
    border: 2px solid black;
    color: rgb(20,20,20);
    border-radius: 10px;
    transition: 0.5s;
} 


/* ########################################## vids ################################################## */

.vid{
    border-radius: 10px;
    border: 2px solid rgb(150,150,150);
    margin-bottom: 5px;
    width: auto;
    height: auto;
}

