/*Font Stuff*/
@font-face{
    font-family: space_grotesk;
    src:url("G:/[!]WORK[!]/Y2/DID/SCP Website/Wireframe/font/space_grotesk/space_grotesk.ttf")
}
Body {
    background: rgb(171,209,255);
    font-family: 'Space Grotesk', sans-serif;
}

.header {
display: grid;
grid-template-columns: [logo] 10% [logo2] 90%;
background: linear-gradient(90deg, rgba(33,33,33,1) 0%, rgba(144,170,255) 100%);
border-radius: 25px;
border: 2px solid black;
}
.logo{
grid-column-start: logo;
width: 75px;
height: 75px;
justify-content: center;
margin: 10px;
}
.titlecon{
margin: 5px;
}
.title{
justify-content: center;
width: 200px;
}

/* ########################################## Navbar ################################################## */
nav {
    background-color: rgb(144,170,255);
    border-radius: 25px;
    border: 2px solid black;
    margin: 5px 0px 5px 0px;
}
.navbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px 10px 5px 5px;
    padding: 5px;
}
.item{
    color: rgb(0,0,0);
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 25px;
    transition: 0.2s;
}
.item:hover{
    background-color: rgb(117,131,255);
    border: 1px solid black;
    color: rgb(0,0,0);
    border-radius: 10px;
    transition: 0.5s;
} 
.item-here {
    color: black;
    text-decoration: none;
    background-color: rgb(117,131,255);
    padding: 5px 20px;
    border-radius: 25px;
    border: 1px solid black;
    transition: 0.2s;
}
.item-here:hover {
    background-color: rgb(89,92,255);
    transition: 0.2s;
}

/* ########################################## Dropdown Button ################################################## */
.mapdown {
  position: relative;
  display: inline-block;
}

.mapdown-content {
  display: none;
  position: absolute;
  border-radius: 25px;
  border: 2px solid black;
  margin: 5px 0px 0px 0px;
}

.mapdown-content a {
  color: rgb(255,255,255);
  border-radius: 25px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.4s;
  color: rgb(0,0,0);
}

.mapdown-content a:hover {
  background-color: rgb(117,131,255);
  border-radius: 25px;
  border: 1px solid black;
  transition: 0.4s;
}

.mapdown:hover .mapdown-content {
    display: block;
    background-color: rgb(144,170,255);
}

/* ########################################## Main ################################################## */
/* Main */
.main-content {
    display: inline-grid;
    grid-template-columns: [first] 25% [centre] 50% [last] 25%;
    text-align: center;
}
/*sidebars*/
.left-bar,.right-bar,.center {
    border-radius: 25px;
}
/*left-bar*/
.left-bar{
    grid-column-start: first;
    background-color: rgb(117,131,255);
    border: 2px solid black;
}
.management{
    margin: 0;
    border-radius: 25px;
    border: 2px solid black;
    background-color: rgb(89,92,255);
    color: white;
}
.topstaff{
    list-style-type: none;
    padding: 0;
}
.managementli{
    text-decoration: none;
    color: black;
}
.man1,.man2{
    border: 1px solid black;
    background-color: rgb(144,170,255);
}
.man1{
    border-radius: 0px 0px 25px 25px;
    color: rgb(255,255,255);
}
.man2{
    background-color: rgb(89,92,255);
    color: rgb(255,255,255);
    border-radius: 25px 25px 0px 0px;
}
.left-text{
    padding: 2%;
    border-radius: 25px;
    border: 1px solid black;
    background-color: rgb(144,170,255);
    color: rgb(0,0,0);
}
.p1{
    padding: 2%;
}
.p1copyr{
    text-align: justify;
    padding: 3%;
    border: 1px solid black;
    margin: 3%;
}
/*center*/
.center {
    border: 2px solid black;
    grid-column-start: centre;
}
.p1index{
    padding: 2%;
}
.blueprint{
}
.blueprintpic{
    width: 100%;
    height: auto;
}

/*right-bar*/
.right-bar{
    border: 2px solid black;
    grid-column-start: last;
    background-color: rgb(117,131,255);
}
.news{
  list-style-type: none;
  padding: 0;
}
.Update{
    background-color: rgb(89,92,255);
    border-radius: 25px 25px 0px 0px;
    border: 1px solid black;
    color: rgb(250,250,250);
}
.date{
    border: 1px solid black;
    background-color: rgb(117,131,255);
}
.context{
    border-radius: 0px 0px 25px 25px;
    border: 1px solid black;
    background-color: rgb(144,170,255);
}

/* ########################################## Map links ################################################## */

.maplist{
    background-color: rgb(201,248,255);
    border-radius: 10px;
    border: 1px solid black;
    color: black;
}

.maplist2{
    color: black;
    text-decoration: underline
}

/* ########################################## Forums ################################################## */

.forum_list{
    background-color: rgb(255,255,255);
    border: 1px solid black;
    color: black;
}
.rules{
    background-color: rgb(255,255,255);
    color: black;
}

/* ########################################## Login/signup ################################################## */

.login{
    background-color: rgb(201,248,255);
    border-radius: 10px;
    border: 1px solid black;
    color: black;
}
.signup{
    background-color: rgb(201,248,255);
    border-radius: 10px;
    border: 1px solid black;
    color: black;
}

/* ########################################## Footer ################################################## */

.itemf{
    color: rgb(0,0,0);
    text-decoration: none;
    background-color: rgb(144,170,255);
    padding: 5px 20px;
    border-radius: 25px;
    transition: 0.2s;
    border: 2px solid black;
}
.itemf:hover{
    background-color: rgb(117,131,255);
    border: 2px solid black;
    color: rgb(255,255,255);
    border-radius: 10px;
    transition: 0.5s;
} 

